
.Buttons{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 15%;
  margin-bottom: 5%;
  border-radius: 10px;
}

.Back{
  margin-left: 30px;
  width: 15%;
  background-color: white;
  color: black;
  font-size: 20px;
}

.Next{
  margin-right: 30px;
  width: 15%;
  background-color: white;
  color: black;
  font-size: 20px;
}

.App {
  text-align: center;
}
.Header {
  color: #383232;
}